@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer components {
  .form-input {
    @apply inline-block w-full px-3 py-1.5 text-base text-slate-700 placeholder-slate-600 transition duration-150 ease-in-out bg-slate-300 border border-transparent rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300 sm:text-sm sm:leading-5;
  }
  input.form-input, button.form-input, select.form-input, textarea.form-input{
    @apply sm:text-base text-xs;
  }

  .form-label {
    @apply inline-block mb-2 text-base sm:text-sm font-semibold;
  }

  .form-field {
    @apply inline-block w-full my-2;
  }
  .close-btn {
    @apply bg-slate-300 border-0 absolute top-2 right-2 p-1 hover:bg-slate-400 rounded-full;
  }
  .submit-btn {
    @apply bg-slate-500 text-white px-4 py-2 rounded-md hover:bg-slate-600 text-base sm:text-sm;
  }

  .map-modal {
    @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50;
  }
  .map-container {
    @apply bg-white p-6 rounded-lg relative w-11/12 max-w-3xl h-4/5;
  }
}

/*defaults below*/
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
